<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DiscordToken" value="NjQ2MzIzMDkyODg4NzQ4MDMy.XiDJuA.PrKZ-c68fAwz7XaW-cryVlZgKQU"/>
  </appSettings>
</configuration>